body {
  font-family: Helvetica, sans-serif; }
  body p {
    color: #333; }

h1, h2, h3, h4, h5, h6 {
  color: #555; }

.row {
  padding: 2em 0;
  margin-top: 3em;
  margin-bottom: 2em; }

.row .last {
  margin-bottom: 0; }

section {
  padding: 2em; }

.column, .columns {
  float: left; }

.contain {
  max-width: 80em;
  margin: 0 auto; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

header {
  background-color: #000; }

nav li {
  display: inline-block;
  padding: 2em; }
nav a {
  color: #999;
  text-transform: uppercase;
  font-weight: bold; }
nav :hover {
  color: #fff; }

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em; }

h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold; }

.development {
  background-color: #F8F8F8; }

.illustration {
  background-color: #E0E0E0; }

.contact {
  background-color: #D0D0D0;
  position: relative; }
  .contact .inner {
    padding: 3em; }
  .contact p {
    color: #000;
    font-size: 1em; }
  .contact span {
    font-weight: bold; }

.portrait {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%; }

.portfolio {
  border: 1px solid #efefef; }

.development {
  margin: 1em 0; }

footer {
  background-color: #000;
  min-height: 3em; }

footer section {
  padding: 0; }

p {
  margin-top: 1em;
  font-size: 1em;
  color: #E0E0E0; }

.heidi-img {
  height: 500px;
  min-width: auto;
  position: absolute;
  top: 0; }

.intro {
  position: relative; }

.intro1 {
  position: absolute;
  width: 100%;
  font-size: 3em;
  top: 0; }

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

svg {
  width: 100%;
  height: inherit; }

svg text {
  text-anchor: middle; }

svg #alpha {
  fill: #666666; }

svg #title {
  letter-spacing: -2px;
  font-size: 10em;
  font-weight: 800; }

svg #subtitle {
  letter-spacing: 8px;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase; }

svg #base {
  fill: #000;
  -webkit-mask: url(#mask);
  mask: url(#mask); }

.heidi-block {
  height: 100vh;
  position: relative; }

.portrait1 {
  height: 100vh;
  background: url("../images/hair.jpg") no-repeat top center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%; }

.word, .firstdot, .seconddot {
  fill: none; }

#photo-trio {
  width: 100%;
  text-align: center;
  position: relative; }

#photo-trio img {
  height: auto;
  width: 33.33333%;
  position: absolute; }

#trapezoid-left {
  -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
  height: auto;
  left: 0; }

#center {
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  left: 33.33333%; }

#trapezoid-right {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  right: 0; }

.unicorns path {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear; }

.unicorns path:hover {
  opacity: 0.4;
  -ms-transform: rotate(0.1deg);
  /* IE 9 */
  -webkit-transform: rotate(0.1deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0.1deg); }

.uni-fill {
  fill: red; }

@keyframes arrowTurn {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
